<button (click)="forecast()">GET WEATHER</button>
<!-- displays the data from the getweather function  -->
<input [(ngModel)]="grid1" type="text">
<input [(ngModel)]="grid2" type="text">
<p>tonight's weather is: {{report.periods[0].temperature}}</p>
<p>tomorrow: {{report.periods[1].temperature}}</p>
<p>Friday: {{report.periods[3].temperature}}</p>
<p>Saturday: {{report.periods[5].temperature}}</p>
<p>Sunday: {{report.periods[7].temperature}}</p>
<p>Monday: {{report.periods[9].temperature}}</p>
<p>Tuesday: {{report.periods[11].temperature}}</p>

partly cloudy
<router-outlet></router-outlet>